*bin*
*obj*
*bat*
*map*
*log*
.vs
*.user
*-template
template-*
DexieNETIntern.sln
DexieNET/npm/node_modules
DexieNET/wwwroot
DexieNETTest/TableGeneratorTest/TestResults
Publish
Nugets
GeneratorRunner
payload.json
DexieNETHelloWorld
Nuget
DexieNET/npm/src/*.js
DexieNET/npm/dexie-cloud.json
DexieNET/npm/dexie-cloud.key
/DexieNETCloudSample/Dexie/dexie-cloud.json
/DexieNETCloudSample/Dexie/dexie-cloud.key
DexieNET/vite/node_modules
