*bin*
*obj*
*bat*
*map*
*log*
.vs
*.user
*-template
template-*
DexieNETIntern.sln
DexieNET/npm/node_modules
DexieNET/wwwroot
DexieNETTest/TableGeneratorTest/TestResults
Publish
Nugets
GeneratorRunner
payload.json
DexieNETHelloWorld
Nuget
DexieNET/yarn/src/*.js
DexieNETCloudSample/Dexie/dexie-cloud.json
DexieNETCloudSample/Dexie/dexie-cloud.key
DexieNETCloudSample/wwwroot/dexie-cloud.json
DexieNETCloudSample/wwwroot/importfile.json
DexieNET/yarn/node_modules
DexieNET/yarn/yarn.lock
.DS_Store
.idea
DexieCloudNET/yarn/node_modules
DexieCloudNET/yarn/src/**/*.js
DexieCloudNET/wwwroot/
DexieCloudNET/yarn/src/DexieNET
.nuget
