*bin*
*obj*
*bat*
*map*
*log*
.vs
*.user
*-template
template-*
.DS_Store
.idea
*.lock
DexieNETIntern.sln
DexieNETTest/TableGeneratorTest/TestResults
Publish
GeneratorRunner
payload.json
docker-compose.yml
*.tar
Nuget
**node_modules

DexieNET/wwwroot
DexieNET/yarn/src/*.js
DexieNET/yarn/.eslintrc.js

DexieCloudNET/wwwroot/
DexieCloudNET/yarn/src/*.js
DexieCloudNET/yarn/.eslintrc.js

DexieNETCloudSample/Dexie/dexie-cloud.json
DexieNETCloudSample/Dexie/dexie-cloud.key
DexieNETCloudSample/wwwroot/dexie-cloud.json
DexieNETCloudSample/wwwroot/importfile.json
DexieNETCloudSample/Properties/Settings.xml
DexieNETCloudSample/wwwroot/.htaccess
DexieNETCloudSample/wwwroot/appsettings*
DexieNETCloudPushServer/database
*.code-workspace
